.container {
  display: flex;
  flex-direction: column;
}

.container h3 {
  margin: 10px 0;
}

.container input {
  margin-bottom: 10px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.rank {
  width: 10%;
}

.imageUrl {
  width: 25%;
}

.name {
  width: 25%;
}

.allTimePeak {
  width: 15%;
}
