html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input,
button {
  border: 0;
}

input::placeholder {
  padding-left: 8px;
}
